---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: 'LibertinusMonoMono';
        src: url('../fonts/LibertinusMonoMono.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
}

@layer components {
    a {
        @apply dark:!text-primary-400 !text-primary-800 !underline !decoration-dotted;
    }

    h1 {
        font-family: sans-serif
    }

    a[href^="http://"]:after,
    a[href^="https://"]:after {
        content: "\f08e";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        margin-left: 3px;
        text-decoration: none;
        padding-left: 3px;
    }
}
