@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: 'LibertinusMonoMono';
        font-display: swap;
        src: url('../fonts/LibertinusMonoMono.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
}

@layer components {
    a {
        @apply dark:!text-primary-400 !text-primary-800 !underline !decoration-dotted;
    }

    h1 {
        font-family: sans-serif
    }

    a[href^="http://"]:after,
    a[href^="https://"]:after {
        content: "\f08e";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        margin-left: 3px;
        text-decoration: none;
        padding-left: 3px;
    }

    body {
        text-underline-offset: 4px;
        counter-reset: sidenote-counter;
    }

    small {
        @apply hidden mr-[-35%] xl:mr-[-50%] lg:block;
        counter-increment: sidenote-counter;
        float: right;
        clear: right;
        width: 40%;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.0rem;
        line-height: 1.3;
        vertical-align: baseline;
        position: relative;
        padding: 1em;
        border-top: 1px dotted #CCCCCC;
        border-bottom: 1px dotted #CCCCCC;
    }

    small::before {
        @apply border-primary-500 rounded-full mr-2 mt-1 p-1 w-8 h-8 items-center text-center;
        content: counter(sidenote-counter);
        float: left;
        border-style: solid;
        border-width: 2px;
    }

    strong {
        @apply uppercase font-bold;
    }

    hr {
        @apply my-4;
    }

    .prose>h2,
    h3 {
        gap: 8px;
        display: flex;
    }


    li::marker {
        @apply !text-primary-500;
    }

    .task-list-item-checkbox {
        margin-right: 8px;
    }
}

input.task-list-item-checkbox {
    margin-right: 8px !important;
}

.toc-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.toc-bullet {
    display: inline-flex;
    width: 1.25rem;
    left: -23px;
    height: 1.25rem;
    align-items: center;
    justify-content: center;
}

.toc-ring-svg {
    width: 0.7rem;
    height: 0.7rem;
}

.toc-ring-bg {
    stroke: rgba(0, 0, 0, 0.08);
}

.dark .toc-ring-bg {
    stroke: rgba(255, 255, 255, 0.06);
}

.toc-ring {
    stroke: rgba(0, 0, 0, 0.5);
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
}

.dark .toc-ring {
    stroke: rgba(255, 255, 255, 0.9);
}

.toc-link-text {
    display: inline;
}

.toc-fixed .toc-bullet {
    display: none !important;
}

.content strong {
    text-transform: none !important;    
}