<html>
{% include head.html %}

<body
    class="dark:text-primary-300 text-primary-700 dark:bg-primary-900 bg-primary-100 font-display flex flex-col items-center md:items-center lg:items-center md:pl-[8%] lg:pr-[32%] xl:pr-[8%]">
    <header
        class="w-full dark:text-primary-700 text-primary-800 dark:bg-primary-950 bg-primary-300 flex flex-col items-center py-4 px-4">
        <div class="max-w-[65ch] w-full">
            {% include nav.html %}
        </div>
    </header>
    <div class="prose dark:prose-invert my-8 px-4 max-w-[65ch] w-full">
        {{ content }}
    </div>
    <footer
        class="w-full dark:text-primary-400 text-primary-800 dark:bg-primary-950 bg-primary-200 py-6 flex flex-col items-center">
        <div class="max-w-[70ch] w-full">
            {% include foot.html %}
        </div>
    </footer>
    <script src="{{ '/assets/js/toggle-theme.js' | relative_url }}"></script>
</body>

</html>