---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<div class="flex flex-row gap-4">
    <p class="my-0">On {{ page.date | date_to_string }} by</p>
    <a href="https://github.com/{{ page.author }}" class="flex flex-row items-center gap-2">
        <img src="https://github.com/{{ page.author }}.png?size=30" class="my-0 w-8 h-8 rounded-full" />
        @{{ page.author }}
    </a>
</div>

<div>
<div id="table-of-contents" class="bg-primary-200 dark:bg-primary-800 rounded-md p-2 my-4 w-full">
    <p class="text-bold my-0 mt-2 ml-3">Table of Contents:</p>
    {% include toc.html html=content %}
</div>
<div id="fake-table" class="hidden opacity-0 p-2 my-4 w-full xl:!hidden">
    <p class="text-bold my-0 mt-2 ml-3">Table of Contents:</p>
    {% include toc.html html=content %}
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toc = document.getElementById('table-of-contents');
        const fakeTOC = document.getElementById('fake-table');
        const tocOffset = toc.offsetTop;
        let isFixed = false;
        
        function toggleFixedPosition() {
            if (window.innerWidth >= 1280) {
                const shouldBeFixed = window.scrollY > (tocOffset + toc.offsetHeight);
                
                if (shouldBeFixed !== isFixed) {
                    isFixed = shouldBeFixed;
                    
                    if (isFixed) {
                        toc.style.position = 'fixed';
                        toc.style.top = '25%';
                        toc.style.left = '2.5vw';
                        toc.style.maxWidth = '27ch';
                        fakeTOC.style.display = 'block';
                    } else {
                        toc.style.position = '';
                        toc.style.top = '';
                        toc.style.left = '';
                        toc.style.maxWidth = '';
                        fakeTOC.style.display = 'none';
                    }
                }
            } else if (isFixed) {
                isFixed = false;
                toc.style.position = '';
                toc.style.top = '';
                toc.style.left = '';
                toc.style.maxWidth = '';
            }
        }
        
        window.addEventListener('scroll', toggleFixedPosition);
        window.addEventListener('resize', toggleFixedPosition);
        toggleFixedPosition();
    });
</script>

{{ content }}